<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'searchengine/home.css' %}">
  </head>
  <body>
    <div class="mark">NAMECARD</div>
    <div class="name_card">
      <h2>鄭言平
    
        <span>Yen Ping Cheng</span>
    
      </h2>
    
      <h5> 大同大學-電機工程學系 <a href="{% url  'home' %}">My side project</a></h5>
      
      <hr>
    
      <p>不斷專精編程能力，<br>團隊合作善用網路資源找出答案並解決問題</br></p>
    <div class="circle circle1"></div>
    <div class="circle circle2"></div>
    </div>
  </body>
</html>